function Ball.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push constant 256
pop this 0
push constant 128
pop this 1
push constant 6
pop this 2
push constant 6
neg
pop this 3
push constant 6
pop this 4
push pointer 0
call Ball.draw 1
pop temp 0
push pointer 0
return
function Ball.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Ball.draw 0
push argument 0
pop pointer 0
push constant 1
neg
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.drawBall 1
pop temp 0
push constant 0
return
function Ball.erase 0
push argument 0
pop pointer 0
push constant 0
call Screen.setColor 1
pop temp 0
push pointer 0
call Ball.drawBall 1
pop temp 0
push constant 0
return
function Ball.drawBall 0
push argument 0
pop pointer 0
push this 0
push this 2
gt
push this 0
push constant 511
push this 2
sub
lt
and
push this 1
push this 2
gt
and
push this 1
push constant 255
push this 2
sub
lt
and
not
if-goto Ball_0
push this 0
push this 1
push this 2
call Screen.drawCircle 3
pop temp 0
goto Ball_1
label Ball_0
label Ball_1
push constant 0
return
function Ball.move 2
push argument 0
pop pointer 0
push this 0
push this 3
add
pop local 0
push this 1
push this 4
add
pop local 1
push local 1
push this 2
push constant 1
add
lt
push local 1
push constant 255
push this 2
sub
gt
or
not
if-goto Ball_2
push this 4
neg
pop this 4
goto Ball_3
label Ball_2
label Ball_3
push this 1
push this 4
add
pop local 1
push this 0
push this 3
add
pop local 0
push pointer 0
call Ball.erase 1
pop temp 0
push local 0
pop this 0
push local 1
pop this 1
push pointer 0
call Ball.draw 1
pop temp 0
push constant 0
return
function Ball.bounce 0
push argument 0
pop pointer 0
push this 3
neg
pop this 3
push this 1
push argument 1
push argument 2
push constant 3
call Math.divide 2
add
lt
not
if-goto Ball_4
push constant 6
neg
pop this 4
goto Ball_5
label Ball_4
push this 1
push argument 1
push argument 2
push constant 2
call Math.multiply 2
push constant 3
call Math.divide 2
add
gt
not
if-goto Ball_6
push constant 6
pop this 4
goto Ball_7
label Ball_6
label Ball_7
label Ball_5
push constant 0
return
function Ball.getLeft 0
push argument 0
pop pointer 0
push this 0
push this 2
sub
return
function Ball.getRight 0
push argument 0
pop pointer 0
push this 0
push this 2
add
return
function Ball.getTop 0
push argument 0
pop pointer 0
push this 1
push this 2
sub
return
function Ball.getBottom 0
push argument 0
pop pointer 0
push this 1
push this 2
add
return
